.footer {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    color: aliceblue;
    font-family: sans-serif;
}

.indent {
    padding: 30px;
}

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-weight: bold;
}
.social {
    font-size: xx-large;
    margin: 15px;
}